.elements{
    max-width: 880px;
    margin: 51px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 17px;
}

@media screen and (max-width: 1023px) {
    .elements{
        max-width: 581px;
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 767px) {
    .elements{
        max-width: 282px;
        grid-template-columns: 1fr;
        margin: 36px auto 0;
    }
    
}