@media screen and (max-width: 767px) {
    .header__menu-icon{
        background-color: black;
        margin-top: 6px;
        width: 24px;
    }

    .header__menu-icon:first-child{
        margin-top: 5px;
    }

    .header__menu-icon:hover{
        opacity: 0.8;
    }
  }