.form__button{
    width: 100%;
    background-color: white;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    border-radius: 2px;
    padding: 14px 0;
    border: 0;
    margin-top: 216px;
    margin-bottom: 0;
    transition: opacity .2s linear;
    cursor: pointer;
}

.form__button:hover{
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .form__button{
        margin-top: 173px;
        font-size: 16px;
        line-height: normal;
        
    }
}