.popup__input-error {
    border-bottom-color: red;
}
span.popup__input-error {
    width: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin-top: 3px;
    min-height: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    transition: visibility 0.5s, opacity 0.5s linear;
}