.popup__info{
    max-width: 358px;
    font-weight: 900;
    font-size: 24px;
    line-height: normal;
    margin-top: 28px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .popup__info{
        font-size: 20px;
        line-height: normal;
        margin: 36px auto 50px auto;
        max-width: 244px;
    }
    
}