.logo{
    max-width: 142px;
    max-height: 33px;
    margin-bottom: 41px;
}

@media screen and (max-width: 767px) {
    .logo{
        max-width: 104px;
        max-height: 25px;
        margin-bottom: 31.6px;
        margin-left: 27px;
    }
}